/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2024) 
 * ----------------------------------------------------- 
*/
@import "theme.css";
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 17px;
	min-height: 0;
}

#waybar {
	background-color: rgba(69, 71, 90, .6);
	color: @text;
}

#workspaces {
	border-radius: 1rem;
	margin: 5px;
	background-color: @surface0;
	margin-left: 1rem;
}

#workspaces button {
	color: @lavender;
	border-radius: 1rem;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active {
	color: @maroon;
	border-radius: 1rem;
}

#workspaces button:hover {
	color: @lavender;
	border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-lock,
#custom-exit,
#language,
#custom-power {
	background-color: @surface0;
	padding: 2px 1rem;
	margin: 2px 0;
}

tooltip {
	border-radius: 10px;
	background-color: @surface0;
	padding: 20px;
	margin: 0px;
}

tooltip label {
	color: @text;
}

#clock {
	color: @blue;
	border-radius: 0px 1rem 1rem 0px;
	margin-right: 1rem;
}

#battery {
	color: @green;
}

#cpu {
	color: @green;
}

#memory {
	color: @lavender;
}

#network,
#network.connected {
	color: @green;
}

#network.disconnected {
	color: @red;
}

#bluetooth {
	color: @blue;
}

#bluetooth.connected {
	color: @green;
}

#bluetooth.off {
	color: @red;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#backlight {
	color: @yellow;
}

#backlight,
#battery {
	border-radius: 0;
}

#pulseaudio {
	color: @maroon;
	border-radius: 1rem 0px 0px 1rem;
	margin-left: 1rem;
}

#custom-music {
	color: @mauve;
	border-radius: 1rem;
}

#language {
	border-radius: 1rem 0px 0px 1rem;
	color: @lavender;
}

#custom-exit,
#custom-power {
	margin-right: 1rem;
	border-radius: 0px 1rem 1rem 0px;
	color: @red;
}

#tray {
	margin-right: 1rem;
	border-radius: 1rem;
}

#workspaces button.urgent {
	color: @red;
}
